In [45]:
import pandas as pd
import numpy as np
import matplotlib.pyplot  as plt

In [46]:
data=pd.read_csv('sphist.csv')

In [47]:
data.head()

,Date,Open,High,Low,Close,Volume,Adj Close
0,2015-12-07,2090.419922,2090.419922,2066.780029,2077.070068,4.043820e+09,2077.070068
1,2015-12-04,2051.239990,2093.840088,2051.239990,2091.689941,4.214910e+09,2091.689941
2,2015-12-03,2080.709961,2085.000000,2042.349976,2049.620117,4.306490e+09,2049.620117
3,2015-12-02,2101.709961,2104.270020,2077.110107,2079.510010,3.950640e+09,2079.510010
4,2015-12-01,2082.929932,2103.370117,2082.929932,2102.629883,3.712120e+09,2102.629883

In [48]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16590 entries, 0 to 16589
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       16590 non-null  object
 1   Open       16590 non-null  float64
 2   High       16590 non-null  float64
 3   Low        16590 non-null  float64
 4   Close      16590 non-null  float64
 5   Volume     16590 non-null  float64
 6   Adj Close  16590 non-null  float64
dtypes: float64(6), object(1)
memory usage: 907.4+ KB

In [49]:
data['Date']=pd.to_datetime(data['Date'])

In [50]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16590 entries, 0 to 16589
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       16590 non-null  datetime64[ns]
 1   Open       16590 non-null  float64
 2   High       16590 non-null  float64
 3   Low        16590 non-null  float64
 4   Close      16590 non-null  float64
 5   Volume     16590 non-null  float64
 6   Adj Close  16590 non-null  float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 907.4 KB

In [51]:
data.sort_values('Date', inplace=True)

In [52]:
data.head()

            Date   Open   High    Low  Close     Volume  Adj Close
16589 1950-01-03  16.66  16.66  16.66  16.66  1260000.0      16.66
16588 1950-01-04  16.85  16.85  16.85  16.85  1890000.0      16.85
16587 1950-01-05  16.93  16.93  16.93  16.93  2550000.0      16.93
16586 1950-01-06  16.98  16.98  16.98  16.98  2010000.0      16.98
16585 1950-01-09  17.08  17.08  17.08  17.08  2520000.0      17.08

In [53]:
data['Close'].rolling(5).mean().shift(1)

16589            NaN
16588            NaN
16587            NaN
16586            NaN
16585            NaN
            ...
4        2087.024023
3        2090.231982
2        2088.306006
1        2080.456006
0        2080.771973
Name: Close, Length: 16590, dtype: float64

In [54]:
data['mean_close_5']=data['Close'].rolling(5).mean().shift(1)

In [55]:
data.head(10)

,Date,Open,High,Low,Close,Volume,Adj Close,mean_close_5
16589,1950-01-03,16.660000,16.660000,16.660000,16.660000,1260000.0,16.660000,NaN
16588,1950-01-04,16.850000,16.850000,16.850000,16.850000,1890000.0,16.850000,NaN
16587,1950-01-05,16.930000,16.930000,16.930000,16.930000,2550000.0,16.930000,NaN
16586,1950-01-06,16.980000,16.980000,16.980000,16.980000,2010000.0,16.980000,NaN
16585,1950-01-09,17.080000,17.080000,17.080000,17.080000,2520000.0,17.080000,NaN
16584,1950-01-10,17.030001,17.030001,17.030001,17.030001,2160000.0,17.030001,16.900
16583,1950-01-11,17.090000,17.090000,17.090000,17.090000,2630000.0,17.090000,16.974
16582,1950-01-12,16.760000,16.760000,16.760000,16.760000,2970000.0,16.760000,17.022
16581,1950-01-13,16.670000,16.670000,16.670000,16.670000,3330000.0,16.670000,16.988
16580,1950-01-16,16.719999,16.719999,16.719999,16.719999,1460000.0,16.719999,16.926

In [56]:
data['mean_close_30']=data['Close'].rolling(30).mean().shift(1)
data['mean_close_365']=data['Close'].rolling(365).mean().shift(1)

In [57]:
data.head(10)

,Date,Open,High,Low,Close,Volume,Adj Close,mean_close_5,mean_close_30,mean_close_365
16589,1950-01-03,16.660000,16.660000,16.660000,16.660000,1260000.0,16.660000,NaN,NaN,NaN
16588,1950-01-04,16.850000,16.850000,16.850000,16.850000,1890000.0,16.850000,NaN,NaN,NaN
16587,1950-01-05,16.930000,16.930000,16.930000,16.930000,2550000.0,16.930000,NaN,NaN,NaN
16586,1950-01-06,16.980000,16.980000,16.980000,16.980000,2010000.0,16.980000,NaN,NaN,NaN
16585,1950-01-09,17.080000,17.080000,17.080000,17.080000,2520000.0,17.080000,NaN,NaN,NaN
16584,1950-01-10,17.030001,17.030001,17.030001,17.030001,2160000.0,17.030001,16.900,NaN,NaN
16583,1950-01-11,17.090000,17.090000,17.090000,17.090000,2630000.0,17.090000,16.974,NaN,NaN
16582,1950-01-12,16.760000,16.760000,16.760000,16.760000,2970000.0,16.760000,17.022,NaN,NaN
16581,1950-01-13,16.670000,16.670000,16.670000,16.670000,3330000.0,16.670000,16.988,NaN,NaN
16580,1950-01-16,16.719999,16.719999,16.719999,16.719999,1460000.0,16.719999,16.926,NaN,NaN

In [58]:
data.dropna()

,Date,Open,High,Low,Close,Volume,Adj Close,mean_close_5,mean_close_30,mean_close_365
16224,1951-06-19,22.020000,22.020000,22.020000,22.020000,1.100000e+06,22.020000,21.800000,21.703333,19.447726
16223,1951-06-20,21.910000,21.910000,21.910000,21.910000,1.120000e+06,21.910000,21.900000,21.683000,19.462411
16222,1951-06-21,21.780001,21.780001,21.780001,21.780001,1.100000e+06,21.780001,21.972000,21.659667,19.476274
16221,1951-06-22,21.549999,21.549999,21.549999,21.549999,1.340000e+06,21.549999,21.960000,21.631000,19.489562
16220,1951-06-25,21.290001,21.290001,21.290001,21.290001,2.440000e+06,21.290001,21.862000,21.599000,19.502082
...,...,...,...,...,...,...,...,...,...,...
4,2015-12-01,2082.929932,2103.370117,2082.929932,2102.629883,3.712120e+09,2102.629883,2087.024023,2073.984998,2035.531178
3,2015-12-02,2101.709961,2104.270020,2077.110107,2079.510010,3.950640e+09,2079.510010,2090.231982,2076.283993,2035.914082
2,2015-12-03,2080.709961,2085.000000,2042.349976,2049.620117,4.306490e+09,2049.620117,2088.306006,2077.908659,2036.234356
1,2015-12-04,2051.239990,2093.840088,2051.239990,2091.689941,4.214910e+09,2091.689941,2080.456006,2078.931331,2036.507343
0,2015-12-07,2090.419922,2090.419922,2066.780029,2077.070068,4.043820e+09,2077.070068,2080.771973,2080.237329,2036.869425

In [59]:
clean=data.copy().dropna()

In [60]:
clean.shape

(16225, 10)

In [61]:
import datetime as dt

january=dt.datetime(2013,1,1)
january

datetime.datetime(2013, 1, 1, 0, 0)

In [62]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [63]:
def ramse(df, feature):
    train=df[df['Date']<january]
    test=df[df['Date']>=january]
    target='Close'
    
    model=LinearRegression()
    model.fit(train[feature], train[target])
    prediction= model.predict(test[feature])
    
    mse=mean_squared_error(test[target], prediction)
    rmse=np.sqrt(mse)
    return rmse

In [64]:
features=[k for k in clean.columns if "mean" in k]
features

['mean_close_5', 'mean_close_30', 'mean_close_365']

In [65]:
ramse(clean, features)

22.220065324219675

In [66]:
data['mean_volume_30']=data['Volume'].rolling(30).mean().shift(1)
data['mean_volume_365']=data['Volume'].rolling(365).mean().shift(1)

In [67]:
data.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Adj Close',
       'mean_close_5', 'mean_close_30', 'mean_close_365', 'mean_volume_30',
       'mean_volume_365'],
      dtype='object')

In [68]:
clean=data.copy().dropna()

In [69]:
feature=['mean_volume_30','mean_volume_365','mean_close_5', 'mean_close_30', 'mean_close_365']

In [70]:
ramse(clean, feature)

22.225320491975246

In [71]:
data['std_close_5']=data['Close'].rolling(5).std().shift(1)
data['std_close_365']=data['Close'].rolling(365).std().shift(1)

In [72]:
data['ratio_mean_close']= data['mean_close_5']/data['mean_close_365']
data['ratio_std_close']= data['std_close_5']/data['std_close_365']

In [73]:
data.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Adj Close',
       'mean_close_5', 'mean_close_30', 'mean_close_365', 'mean_volume_30',
       'mean_volume_365', 'std_close_5', 'std_close_365', 'ratio_mean_close',
       'ratio_std_close'],
      dtype='object')

In [74]:
clean=data.copy().dropna()

In [75]:
feature=['mean_volume_30','mean_volume_365','mean_close_5', 'mean_close_30', 'mean_close_365','std_close_5', 'std_close_365', 'std_close_5',
       'ratio_mean_close', 'ratio_std_close']

In [76]:
ramse(clean, feature)

22.212425296542918

In [77]:
data['Year']=data['Date'].dt.strftime('%Y').astype(float)
data['Month']=data['Date'].dt.strftime('%m').astype(float)
data['Day']=data['Date'].dt.strftime('%d').astype(float)

In [78]:
data.head()

,Date,Open,High,Low,Close,Volume,Adj Close,mean_close_5,mean_close_30,mean_close_365,mean_volume_30,mean_volume_365,std_close_5,std_close_365,ratio_mean_close,ratio_std_close,Year,Month,Day
16589,1950-01-03,16.66,16.66,16.66,16.66,1260000.0,16.66,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1950.0,1.0,3.0
16588,1950-01-04,16.85,16.85,16.85,16.85,1890000.0,16.85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1950.0,1.0,4.0
16587,1950-01-05,16.93,16.93,16.93,16.93,2550000.0,16.93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1950.0,1.0,5.0
16586,1950-01-06,16.98,16.98,16.98,16.98,2010000.0,16.98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1950.0,1.0,6.0
16585,1950-01-09,17.08,17.08,17.08,17.08,2520000.0,17.08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1950.0,1.0,9.0

In [79]:
clean=data.copy().dropna()

In [80]:
clean.corr()['Close']

Open                0.999900
High                0.999953
Low                 0.999956
Close               1.000000
Volume              0.772817
Adj Close           1.000000
mean_close_5        0.999793
mean_close_30       0.999189
mean_close_365      0.988870
mean_volume_30      0.786908
mean_volume_365     0.784878
std_close_5         0.722414
std_close_365       0.816103
ratio_mean_close    0.047782
ratio_std_close     0.087018
Year                0.872100
Month               0.005684
Day                -0.001525
Name: Close, dtype: float64

In [81]:
feature=['mean_volume_30', 'mean_volume_365',
 'mean_close_5','mean_close_30',
 'mean_close_365',
 'std_close_5',
 'std_close_365','Year']

In [82]:
ramse(clean,feature)

22.222405167442115

In [83]:
from sklearn.neighbors import KNeighborsRegressor

In [84]:
def kramse(df, feature):
    train=df[df['Date']<january]
    test=df[df['Date']>=january]
    target='Close'
    
    model=KNeighborsRegressor()
    model.fit(train[feature], train[target])
    prediction= model.predict(test[feature])
    
    mse=mean_squared_error(test[target], prediction)
    rmse=np.sqrt(mse)
    return rmse

In [85]:
kramse(clean, feature)

490.16172417742814

In [99]:
def ramses(df, feature, row):
    train=df[df['Date']<row['Date']]
    test=df[df['Date']==row['Date']]
    target='Close'
    
    if len(train)==0:
        return np.nan
    else:
        model=LinearRegression()
        model.fit(train[feature], train[target])
        prediction= model.predict(test[feature])

#         mse=mean_squared_error(test[target], prediction)
#         rmse=np.sqrt(mse)
        return prediction

In [95]:
clean.columns
features=['mean_close_5', 'mean_close_30', 'mean_close_365', 'mean_volume_30',
       'mean_volume_365', 'std_close_5', 'std_close_365', 'Year']

In [93]:
rmse=clean.apply(lambda row: ramses(clean, features, row), axis=1)
rmse

16224          NaN
16223     0.110000
16222     0.019980
16221     0.005222
16220     0.155512
           ...
4        13.418519
3        12.545443
2        40.104085
1        11.507279
0         3.311644
Length: 16225, dtype: float64

In [94]:
rmse.mean()

5.4812949046411905

In [98]:
rmse=clean.apply(lambda row: ramses(clean, features, row), axis=1)
rmse

16224          NaN
16223     0.110000
16222     0.019939
16221     0.005222
16220     0.172451
           ...
4        13.991743
3        11.996149
2        39.582058
1        11.982923
0         2.897914
Length: 16225, dtype: float64

In [97]:
rmse.mean()

5.481585546489499

In [100]:
predict=rmse=clean.apply(lambda row: ramses(clean, features, row), axis=1)
predict

16224                     NaN
16223                 [22.02]
16222    [21.799939537994653]
16221     [21.54477749738858]
16220    [21.462452455197894]
                 ...
4         [2088.638140358151]
3        [2091.5061586905276]
2         [2089.202174860854]
1        [2079.7070181582226]
0        [2079.9679823421575]
Length: 16225, dtype: object

In [104]:
clean.tail()

,Date,Open,High,Low,Close,Volume,Adj Close,mean_close_5,mean_close_30,mean_close_365,mean_volume_30,mean_volume_365,std_close_5,std_close_365,ratio_mean_close,ratio_std_close,Year,Month,Day
4,2015-12-01,2082.929932,2103.370117,2082.929932,2102.629883,3.712120e+09,2102.629883,2087.024023,2073.984998,2035.531178,3.842181e+09,3.527800e+09,3.916109,64.370261,1.025297,0.060837,2015.0,12.0,1.0
3,2015-12-02,2101.709961,2104.270020,2077.110107,2079.510010,3.950640e+09,2079.510010,2090.231982,2076.283993,2035.914082,3.856341e+09,3.526090e+09,7.956808,64.352527,1.026680,0.123644,2015.0,12.0,2.0
2,2015-12-03,2080.709961,2085.000000,2042.349976,2049.620117,4.306490e+09,2049.620117,2088.306006,2077.908659,2036.234356,3.876979e+09,3.529468e+09,9.333599,64.277554,1.025573,0.145208,2015.0,12.0,3.0
1,2015-12-04,2051.239990,2093.840088,2051.239990,2091.689941,4.214910e+09,2091.689941,2080.456006,2078.931331,2036.507343,3.899603e+09,3.532802e+09,19.599946,64.121622,1.021580,0.305668,2015.0,12.0,4.0
0,2015-12-07,2090.419922,2090.419922,2066.780029,2077.070068,4.043820e+09,2077.070068,2080.771973,2080.237329,2036.869425,3.892405e+09,3.535838e+09,19.806136,64.058862,1.021554,0.309187,2015.0,12.0,7.0